# Virtual environments
.venv/
.venv_nlp/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Secrets
.env
*.pem



# Model weights and adapters
models/

# Logs
logs/

# Jupyter
.ipynb_checkpoints/


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
